myproject/back-end/my-api/node_modules/
myproject/mobile-client/restaurant-management/restaurant-management/node_modules/.bin/md5-file.cmd
myproject/mobile-client/restaurant-management/restaurant-management/node_modules/
